db/
incremental_db/
output_files/
simulation/qsim/work/
*.rpt
*.qmsg
*.cdb
*.hdb
*.ddb
*.idb
*.rdb
*.tdb
*.jdi
*.pof
*.sof
*.pin
*.xrf
*.vcd

*.vwf
*.bak
*.qdf
*.qws
*.log
*.htm
*.html

# simulation outputs
simulation/qsim/*.sim.vwf
simulation/qsim/*.vwf.vt
simulation/qsim/transcript
simulation/qsim/vwf_sim_transcript
simulation/qsim/*.vo
simulation/qsim/*.sft
